/* 
    Colors
    Grey : #b3d4fc;
    Sky : #f3f2ef;
    Brown: #bfabaa;
    Brown2 : #bfabaa;
    DBrown: #413231;
    Red: #e62e3e;
    DRed: #a61e2d;
    Dred2: #9f1d29;
    Pink: #ea7884;
    Text: #222;
    Headings: #a5142d;
*/

h1, h2, h3, h4{
  text-transform: uppercase;
}

#body-content {
    border: 20px solid #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 10px; */
}

#profile-picture {
    width: 130px;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.heartIcon {
    font-size: 4em;
    margin-top: 30px;
    transition: 400ms;
}

@media(max-width: 500px) {
  .heartIcon{
    font-size: 2.5em;
  }
}

#section-1:hover .heartIcon{
    font-size: 5em;
    transition: 750ms;
    color: #e62e3e;
}

.mouseIcon {
    font-size: 3.3em;
    transition: 600ms;
}
#section-1:hover .mouseIcon{
    margin-top: 50px;
    font-size: 3.4em;
    transition: 700ms;
}

/* Loader */

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }


  
  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    color: #574645;
  }
  
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #a61e2d;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #a61e2d;
}

#heading-connect {
  color: #a61e2d;
  text-align: center;
  font-size: 1.5em;
  margin-top: -36px;
}

/* Heart Style */
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #e62e3e;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #e62e3e;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
