/* 
    Colors
    Grey : #b3d4fc;
    Sky : #f3f2ef;
    Brown: #bfabaa;
    Brown2 : #bfabaa;
    DBrown: #413231;
    Red: #e62e3e;
    DRed: #a61e2d;
    Dred2: #9f1d29;
    Pink: #ea7884;
    Text: #222;
    Headings: #a5142d;
*/


#body-content {
    border: 20px solid #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 10px; */
}

#profile-picture {
    width: 130px;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.heartIcon {
    font-size: 4.5em;
    margin-top: 30px;
    transition: 400ms;
}
#section-1:hover .heartIcon{
    font-size: 5.3em;
    transition: 750ms;
    color: #e62e3e;
}

.mouseIcon {
    font-size: 3.3em;
    transition: 600ms;
}
#section-1:hover .mouseIcon{
    margin-top: 50px;
    font-size: 3.4em;
    transition: 700ms;
}