#footer-main {
    background-color:#a61e2d;
}
#footer-top {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    padding: 20px;
}

.footer-section h5 {
    color: white;
    font-size: 1.3em;
}
.footer-links{
    margin-top: 10px;
    list-style-type: none;
    cursor: pointer;
    color: #ffdde1;
}
.footer-links:hover{
    color: #ffb0b9;
}
.footer-links a {
    color: #ffdde1;
    text-decoration: none;
    margin-left: -25px;
    letter-spacing: 1px;
}
#footer-bottom {
    text-align: center;
    padding: 20px 0px;
    color: white;
    width: 100%;
    border-top: 1.5px solid #6b101a;
}
#footer-bottom > span {
    letter-spacing: 2px;
}

@media (max-width: 340px) {
    #footer-bottom > span {
        letter-spacing: 1px;
        font-size: 15px;
    }
}