#footer-main {
    background-color:#a61e2d;
}
#footer-top {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    padding: 20px;
    min-height: 230px;
    width: 240px;
}

.footer-section-heading {
    color: white;
    font-size: 1.3em;
    margin: 0px;
    margin-bottom: 35px;
}
.footer-links{
    margin-top: 10px;
    list-style-type: none;
    cursor: pointer;
    color: #ffdde1;
}
.footer-links a:hover{
    color: #ffb0b9;
    transition: 500ms;
}
.footer-links a {
    color: #ffdde1;
    text-decoration: none;
    margin-left: -25px;
    letter-spacing: 1px;
    transition: 500ms;
}
#footer-bottom {
    text-align: center;
    padding: 20px 0px;
    color: white;
    width: 100%;
    border-top: 1.5px solid #6b101a;
}
#footer-bottom > span {
    letter-spacing: 2px;
}
.cv{
    margin-left: 20px;
}

.footer-icons {
    margin: 0px;
    padding-left: 0px;
    width: 25px;
    text-align: center;
}
.footer-icons-1 {
    margin: 0px;
    padding-left: 0px;
    width: 25px;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 340px) {
    #footer-bottom > span {
        letter-spacing: 1px;
        font-size: 15px;
    }
}

